@page "/Chart"
@inherits Jtc.Optimization.BlazorClient.ChartBase
@inject IJSRuntime JSRuntime

    <div class="container">
        <h1>Algorithm Optimization <span>@LastUpdate.ToString("yyyy-MM-dd hh:mm:ss")</span></h1>
        <div class="row">
            <div class="col-sm-12">
                <label for="sampleRate">Sample Rate:</label>
                <input type="text" id="sampleRate" bind="@SampleRate" />
                <label for="newOnly">New only?:</label>
                <input type="checkbox" id="newOnly" bind="@NewOnly" />
                <button class="btn btn-secondary" onclick="@UpdateChart">Update Chart</button>
            </div>
        </div>
    </div>
<canvas id="@Config.CanvasId"></canvas>


