@page "/CodeEditor"
@inherits Jtc.Optimization.BlazorClient.CodeEditorBase
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@using Jtc.Optimization.BlazorClient.Models

<div class="container-fluid vh-100 px-4">

    <EditForm Model="@MinimizeFunctionCode" OnValidSubmit="@OptimizeClick">
        <div class="row">
            <div class="col-sm-12">
                <select value="@Language" @onchange="@LanguageChange">
                    <option value="javascript">Javascript</option>
                    <option value="csharp">C#</option>
                </select>
            </div>
        </div>

        <div id="editor"></div>
        <br />
        <button type="submit">Optimize</button>
        <br />
        <br />
        <textarea id="activityLog" readonly class="w-100 small">@ActivityLog</textarea>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
    <Wait @ref="Wait"></Wait>

</div>
