@page "/Config"
@inherits Jtc.Optimization.BlazorClient.ConfigBase
@inject IJSRuntime JSRuntime

<div class="container">
    @*<h1 class="d-flex justify-content-center">Optimization Config</h1>*@
    <EditForm Model="@Config" OnValidSubmit="@ValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <label for="fileUpload" class="btn btn-secondary">Select optimization.json</label>
                    <input type="file" class="displayNone" @onchange="@UploadFile" id="fileUpload" />
                    <button type="button" @onclick="@LoadSample" class="btn btn-secondary ml-2">Load Sample</button>
                </div>
            </div>
        </div>

        <h4>Parameters</h4>
        <div class="form-group">
            @foreach (var item in Config.Genes)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <GeneConfig Gene="item"></GeneConfig>
                    </div>
                </div>
            }

            <div class="row mt-1">
                <div class="col-sm-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" @onclick="AddGene">Add</button> &nbsp;
                    @if (Config.Genes.Count() > 1)
                    {
                        <button type="button" class="btn btn-secondary" @onclick="RemoveGene">Remove</button>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>AlgorithmTypeName</label><input type="text" @bind="Config.AlgorithmTypeName" />
                    </span>
                    <span>
                        <label>AlgorithmLanguage</label>
                        <select @bind="@Config.AlgorithmLanguage">
                            @foreach (var item in AlgorithmLanguageOptions)
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </span>
                    <span>
                        <label>FitnessTypeName</label>
                        <select value="@Config.FitnessTypeName" @onchange="@FitnessTypeNameChange">
                            @foreach (var item in FitnessTypeNameOptions)
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>EnableFitnessFilter</label><input type="checkbox" @bind="Config.EnableFitnessFilter" />
                    </span>
                    <span>
                        <label>IncludeNegativeReturn</label><input type="checkbox" @bind="Config.IncludeNegativeReturn" />
                    </span>
                    <span>
                        <label>UseActualGenesForWholeGeneration</label><input type="checkbox" @bind="Config.UseActualGenesForWholeGeneration" />
                    </span>
                    <span>
                        <label>UseSharedAppDomain</label><input type="checkbox" @bind="Config.UseSharedAppDomain" />
                    </span>
                    <span>
                        <label>EnableRunningDuplicateParameters</label><input type="checkbox" @bind="Config.EnableRunningDuplicateParameters" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>Generations</label><input type="number" @bind="Config.Generations" />
                    </span>
                    <span>
                        <label>MaxThreads</label><input type="number" @bind="Config.MaxThreads" />
                    </span>
                    <span>
                        <label>MinimumTrades</label><input type="number" @bind="Config.MinimumTrades" />
                    </span>
                    <span>
                        <label>PopulationSize</label><input type="number" @bind="Config.PopulationSize" />
                    </span>
                    <span>
                        <label>PopulationSizeMaximum</label><input type="number" @bind="Config.PopulationSizeMaximum" />
                    </span>
                </div>
            </div>
        </div>

        <h4>Dates</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>StartDate</label><input type="date" @bind="Config.StartDate" @bind:format="yyyy-MM-dd" />
                    </span>
                    <span>
                        <label>EndDate</label><input type="date" @bind="Config.EndDate" @bind:format="yyyy-MM-dd" />
                    </span>
                </div>
            </div>
        </div>

        <h4>Paths</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>ConfigPath</label><input type="text" @bind="Config.ConfigPath" />
                    </span>
                    <span>
                        <label>DataFolder</label><input type="text" @bind="Config.DataFolder" />
                    </span>
                    <span>
                        <label>AlgorithmLocation</label><input type="text" @bind="Config.AlgorithmLocation" />
                    </span>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-sm-12">
                        <label>TransactionLog</label><input type="text" @bind="Config.TransactionLog" />
                    </div>
                </div>*@
        </div>

        <h4>Genetic</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>OnePointCrossover</label>
                        <input type="checkbox" @bind="Config.OnePointCrossover" />
                    </span>
                    <span>
                        <label>CrossoverProbability</label>
                        <input type="number" @bind="Config.CrossoverProbability" step="0.01" />
                    </span>
                    <span>
                        <label>MutationProbability</label>
                        <input type="number" @bind="Config.MutationProbability" step="0.1" />
                    </span>
                    <span>
                        <label>StagnationGenerations</label><input type="number" @bind="Config.StagnationGenerations" />
                    </span>
                </div>
            </div>
        </div>

        <h4>Fitness</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>Folds</label>
                        <input type="number" @bind="Config.Fitness.Folds" disabled="@FitnessDisabled" />
                    </span>
                    <span>
                        <label>Name</label>
                        <input type="text" @bind="Config.Fitness.Name" disabled="@FitnessDisabled" />
                    </span>
                    <span>
                        <label>OptimizerTypeName</label>
                        <select @bind="Config.Fitness.OptimizerTypeName" disabled="@OptimizerTypeNameDisabled">
                            @foreach (var item in OptimizerTypeNameOptions)
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <label>ResultKey</label>
                        <select @bind="Config.Fitness.ResultKey" disabled="@FitnessDisabled">
                            <option value=""></option>
                            @foreach (var item in ResultKeyOptions)
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </span>
                    <span>
                        <label>Modifier</label>
                        <input type="number" @bind="Config.Fitness.Modifier" step="0.1" disabled="@FitnessDisabled" />
                    </span>
                    <span>
                        <label>Scale</label>
                        <input type="number" @bind="Config.Fitness.Scale" step="0.1" disabled="@FitnessDisabled" />
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary" type="submit">Save</button>
                &nbsp;
                <a id="save" class="btn btn-secondary" href="#" target="_blank" @onclick="Download">Download</a>
            </div>
        </div>

        <div>
            <pre><code>@Json</code></pre>
        </div>
    </EditForm>
</div>
